name: Daily Scholarship Scraper

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install

      - name: Create Firebase Key File
        run: echo '${{ secrets.FIREBASE_KEY }}' > serviceAccountKey.json

      - name: Run Scraper
        run: npx ts-node scripts/scraper.cjs
